<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.d_learn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MultipleVideosActivity"></activity>
        <activity android:name=".ExoplayerActivity" />
        <activity android:name=".CourseOneMateral">

        </activity>
        <activity android:name=".Pythone_T1" />
        <activity
            android:name=".editpro1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".change_user_pass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".change_admin_pass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_user_display"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_user_delete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pdf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".material"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_topics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgotpass"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signup4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signup2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signup1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user_course"
            android:label="@string/title_activity_user_course"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signin"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".splash"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>